*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-size: 14px;
    background-color:black;
    font-family: 'open sans', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 2rem auto;
    position: relative;
}
.header a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.header .links :hover{
    font-size: 16px;
}
.header img{
    width: 20%;
}

.header .links a img {
    width: 80%;
    height: auto;
}

.header .links {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.main {
    text-align: center;
    padding: 2rem;
    position: relative;
}

.main img {
    width: 100%;

}

.main h2 {
    color: rgb(194, 189, 183);
    max-width: 22rem;
    font-size: 2rem;
    margin: 2rem auto;
}

.main h3 {
    color: rgb(194, 189, 183);
    max-width: 22rem;
    font-size: 1rem;
    margin: 2rem auto;
}


button {
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 1.2rem 7.5rem;
    background-color: turquoise;
    cursor: pointer;
}
button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

button:hover {
    background-color: aquamarine;
}


.main2 {
  padding: 2rem 0;
  text-align: center;
}

.main2 div {
    max-width: 23rem;
    margin: 0 auto;
}
.main2 > div > h2 {
    color: #fff;
    padding: 1rem 0;
}

.main2 > div > p {
    color: whitesmoke;
    padding: 1rem 0;
}

.main2 img {
    padding: 1rem 0;
}

.main3 {
    padding: 2rem;
}

.main3 h2 {
    color: #fff;
    font-family: sans-serif;
    margin-bottom: 1rem;
}

.main3 p {
    max-width: 30rem;
    color: #fff;
    margin-bottom: 1rem;
}

.main3 img {
    width: 100%;
    margin-bottom: 4rem;
}

.main3 span img{
    width: 2.5rem;
    margin-bottom: 0;
    padding: 0 0.5rem;
}

.main3 span a {
    padding: 1rem 0;
}

.main5 {
    padding: 2rem;
    margin: 0 10%;
}

.main6 {
    background-color: black;
    border-radius: 10px;
    margin: 1.5rem auto;
    padding: 2.5rem 2.5rem;
    color: rgb(200, 200, 200);
    max-width: 35rem;
    background-color: hsl(219, 30%, 18%);
}

.main6 img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.card {
    display: flex;
    margin: 20px 0;
    background-color: hsl(219, 30%, 18%);
}
.early {
    border: 2px solid black;
    background-color: hsl(218, 28%, 13%);
    padding: 2rem;
    margin: auto 2.5rem;
    padding-bottom: 5rem;
    text-align: center;
    color: rgb(200, 200, 200);
    border-radius: 25px;
}
.early h2 {
    margin: 20px 0;
}
.early p {
    margin: 20px 0;
}
.early input {
    width: 100%;
    border-radius: 50px;
    padding: 1.2rem 1rem;
    border: none;
    cursor: auto;
}
.early2 input:focus {
    outline: none;
}


.early2 button {
    width: 100%;
    padding: 1.2rem 0;
    margin-top: 1.5rem;
}

.footer{
    margin: 20px 100px;
}

.footer1 {
    margin: 3rem;
    width: 85%;
}
.footer2 {
    width: 100%;
    color: #fff;
    display: flex;
    line-height: 1.5rem;
    word-spacing: .50rem;
    margin: 3rem 0;
}

.footer2 img {
    margin-right: 2rem;
}

.footer3 {
    width: 100%;
    color: #fff;
    display: flex;
    line-height: 1.5rem;
    word-spacing: .50rem;
    margin: 3rem 0;
   
}
.footer3 img{
    margin-right: 2rem;
}
.f1 {
    display: flex;
    margin-bottom: 10px;
    color: #fff;
}
.f2 {
    display: flex;
    color: #fff;
}

.links1{
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    word-spacing: .50rem;
    margin: 3rem;
}

.links1 a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 1.5rem;
}

.links2 {
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    word-spacing: .50rem;
    margin: 3rem;

}

.links2 a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 1.5rem;
}

.socials {
    display: flex;
    color: #fff;
    
}
i {
    margin-right: 10px;
    font-size: 30px;
}

footer {
    display: flex;
    align-items: center;
}

/* For Tablet screens */

@media (min-width: 640px) and (max-width: 1023px) {
    .header {
        width: 85%;
        margin: 2rem auto;
    }

    .header img{
        width: 20%;
    }

    .header .links {
        width: 40%;
    } 

    .main img {
        width: 50%;
    }

    .main {
        padding: 5rem 0;
    }

    .main h2, p {
        max-width: 45rem;
        margin: 1rem auto;
    }

    .main2 h2 {
        font-size: 2rem;
        padding: auto 10rem;
    }

    .main2 p {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .main2 div {
        width: 90%;
        margin: 0 auto;
    }
}
   

@media screen { min-width: 1023px){

body {
    font-size: 14px;
    background-color:black;
    font-family: sans-serif;
    margin: 20px;
    padding: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 50px;
}
.header a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
}

.header .links :hover{
    font-size: 16px;
}

.logo {
    height: 25px;
    margin-left: 30px;
}

.header .links {
    margin:0 20px;
    display: flex;
    justify-content: space-between;
}


.main .intro img {
    width: 80%;
    margin: 60px auto;
    display: flex;
    min-width: 400px;

    
}
.main h2 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 20px 0;
    font-family: sans-serif;
}

.main {
    margin: 10px 200px;
    justify-content: center;
    align-items: center;
}

.main h3 {
    color: rgb(194, 189, 183);
    text-align: center;
    font-size: 18px;
    margin: 10px 200px;
    font-family: sans-serif;
}

.btn button {
    border: 2px solid turquoise;
    border-radius: 25px;
    padding: 10px 50px;
    background-color: turquoise;
}
button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

button:hover {
    background-color: aquamarine;
    cursor: pointer;
}

.btn {
    text-align: center;
    margin: 20px auto;
}
.main2 {
    display: grid;
    grid-template-columns: auto auto;
    margin: 100px 200px;
    gap: 50px 50px;
    padding: 10px;
}

.main2 > div {
    margin-right: 25px;
    text-align: center;
}
.main2 > div > h2 {
    color: #fff;
    font-family: sans-serif;
}

.main2 > div > p {
    color: whitesmoke;
    font-family: sans-serif;
}

.main3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
}

.main3 h2 {
    color: #fff;
    font-family: sans-serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.main3 p {
    color: rgb(189, 186, 186);
    font-family: sans-serif;
    margin-bottom: 20px;
}

.main3 a {
    color: turquoise;
    font-family: sans-serif;
    margin-top: 40px;
}

.main5 {
    display: flex;
    margin: 0 10%;
}

.main6 {
    background-color: black;
    border-radius: 5px;
    margin: 20px 20px;
    padding: 30px 10px;
    color: rgb(200, 200, 200);
    font-family: sans-serif;
}

.main6 img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.card {
    display: flex;
    margin: 20px 0;
    color: rgb(200, 200, 200);
}
.early {
    border: 2px solid black;
    background-color: black;
    margin: 20px 25%;
    padding: 20px;
    text-align: center;
    color: rgb(200, 200, 200);
    font-family: sans-serif;
}
.early h2 {
    margin: 20px 0;
}
.early p {
    margin: 20px 0;
}
.early input {
    width: 50%;
    height: 35px;
    border-radius: 25px;
    padding: 0 20px;
}
.early2 input [type=email] :focus {
    outline: none;
}

.early2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.early2 button {
    height: 35px;
    align-items: center;
    display: flex;
}

.footer{
    margin: 20px 100px;
}

.footer1 {
    display: flex;
    margin: 0 100px;
    justify-content: space-between;
}
.footer2 {
    display: flex;
    width: 300px;
    color: #fff;
    
}
.footer2 img {
    margin-right: 10px;
}

.footer3 {
    display: flex;
    width: 20%;
    color: #fff;
    margin :0  50px;
   
}
.footer3 img{
    margin-right: 10px;
}
.f1 {
    display: flex;
    margin-bottom: 10px;
}
.f2 {
    display: flex;
}

.links1{
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    

}

.links1 a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.links2 {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    
}

.links2 a {
    text-decoration: none;
    color: #fff;
    margin-bottom: 10px;
}

.socials {
    display: flex;
    color: #fff;
    
}
i {
    margin-right: 10px;
    font-size: 30px;
}

footer {
    display: flex;
    align-items: center;
}

